body {
  margin-top: 100px;
  box-sizing: border-box;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-family: "Sawarabi Mincho";
}

.box-wrap {
  height: 240px;
  margin-bottom: 80px;
}

.fontLarge {
  font-size: 40px;
}

.box {
  margin: 40px auto;
  height: 240px;
  width: 180px;
  line-height: 240px;
  border: 2px solid red;
  box-shadow: 4px 4px #ccc;
  background-image: url(../img/backImg.png);
  background-position: center;
}

.box02 {
  height: 230px;
  width: 170px;
  border: 1px solid red;
  margin: 0 auto;
  position: relative;
  top: 5px;
}

.res {
  margin: 0;
  opacity: 0;
}

.button {
  width: 180px;
  padding: 8px 16px;
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
  appearance: none;
  outline: none;
  box-shadow: 0 4px rgba(0, 0, 0, .3);
}

.button:active {
  transform: translateY(4px);
  box-shadow: none;
}

.fadein {
  animation: fadein 3s ease .5s forwards, buruburu .1s linear 3s 3 forwards;
}

.fadein02 {
  opacity: 0;
  animation: fadein 2s ease 3s forwards;
}

.fadeup {
  opacity: 0;
  animation: fadeup 2s ease .5s forwards, fade 3s ease 4s forwards;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes buruburu {
  0% {
    opacity: 1;
    transform: translate(0, 0) rotate(-3deg);
  }
  50% {
    opacity: 1;
    transform: translate(0, 0) rotate(0deg);
  }
  80% {
    opacity: 1;
    transform: translate(0, 0)rotate(3deg);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0)rotate(0deg);
  }
}

@keyframes fadeup {
  0% {
    opacity: 0;
    transform: translateY(100px);
    background-color: #000;
  }
  1% {
    opacity: 1;
    transform: translateY(90px);
    background-color: black;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    background-color: black;
  }
}

@keyframes fade {
  0% {
    opacity: 1;
    transform: rotateY(0deg);
  }
  50% {
    opacity: 0;
    transform: rotateY(180deg);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
